* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.search {
  background-color: black;
  color: white;
  padding: 20px 30px;
}

.searchInput {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
